@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

 /* @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap'); */
 @import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

.nav-link.category-button {
  position: relative;
  color: #fff;
 
}
#caro{
  z-index: 100;
}



.nav-link.category-button::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0; /* Change width to 0 initially */
  height: 2px;
 
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out, width 0.2s ease-in-out; /* Add width transition */
}

.nav-link.category-button:hover::before,
.nav-link.category-button.active::before {
  transform: scaleX(1);
  width: 100%; /* Add width to make it animated */
}



.event-card:hover {
  transform: scale(1.1); /* zoom effect */
  box-shadow: 0 0 10px rgba(17, 76, 201, 0.7); /* Orange glow effect */
  transition: box-shadow 0.3s ease-in-out;
}
.sub-main-nav{
  background: rgba(255, 255, 255, 0.2);
  opacity: 0.7;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border-radius: 10px;
  max-width: 70%;
}

.sub-navbar {
  position: relative;
  z-index: 10;
}


.glow-border {
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.7);
  transition: box-shadow 0.3s ease-in-out;
}


.heading-class {
  position: relative;
  z-index: 100;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  /* font-style: oblique; */
  /* color: #8d31e4; */
  color: white;
}
.all-events-page{
  margin: 0 0 0 0;
  font-family: 'Iceland', sans-serif;
  /* font-size: 3rem; */
}
.search-bar{
  position: relative;
  z-index: 100;
  width: 100%;
  margin-top: 30px;
}

/* Custom search bar styling */

.search-group {
  display: flex;
  align-items: center;
}
.custom-container {
  display: flex;
  align-items: center;
}

/* Custom input field styling */
.custom-input {
  border-radius: 25px; /* Rounded input field */
  padding: 10px 15px; /* Adjust padding as needed */
  border: 2px solid #ccc; /* Border color */
  transition: border-color 0.2s ease-in-out;
}

.custom-input:focus {
  border-color: #007bff; /* Border color when focused */
  box-shadow: none; /* Remove box-shadow when focused */
}

/* Custom button styling */
.custom-button {
  border-radius: 30px;/* Rounded button */
  padding: 10px 20px; /* Adjust padding as needed */
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.custom-button:hover {
  background-color: #007bff; /* Button background color on hover */
  color: #fff; /* Button text color on hover */
}

/* Responsive styling for search bar */

.glow-on-hover {
  border: none;
  outline: none;
  color: #fff;
  background: black;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 1rem;
}
.glow-on-hover:before {
  content: '';
  /* background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); */
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}
.glow-on-hover:active {
  color: #000;
}
.glow-on-hover:active:after {
  background: transparent;
}
.glow-on-hover:hover:before {
  opacity: 1;
}
.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(255, 2, 2);
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}