/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

.card-wrapper {
    transition: transform 0.3s ease; /* Enable transition animation on transform property */
    opacity: 0.7;
   
  }
  
  .card-wrapper.active {
    transform: scale(1.1); 
    z-index: 2; 
    opacity: 1;
    margin-top: 1rem;
  }

  .content-container {
    background: rgba(255, 255, 255, 0.093);
    backdrop-filter: blur(30px);
    border-radius: 20px;
  
  }
  
.button{
  background: #7a00ff;
}
   .glow-on-hover {
    border: none;
    outline: none;
    color: #fff;
    background: black;
    /* background-color: red; */
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 1rem;
  }
  .glow-on-hover:before {
    content: '';
    /* background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); */
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  .glow-on-hover:active {
    color: #000;
  }
  .glow-on-hover:active:after {
    background: transparent;
  }
  .glow-on-hover:hover:before {
    opacity: 1;
  }
  .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(101, 23, 116);
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }

.caro-body{
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Orbitron', sans-serif; */
  font-family: 'Iceland', sans-serif;

  /* letter-spacing: 0.1rem; */
}